body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #6CDAE7;
}

header {
    background: #F88379;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 2rem;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.cta-button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #F88379;
    color: #fff;
}


.recipe {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}



img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .toggle {
    display: none;
  }
  
  .hamburger {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
  }
  
  .menu {
    display: flex;
    gap: 1.5rem;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  
.about {
    margin-left: 10px;
    margin-right: auto;
}